.categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;

  button {
    background-color: var(--main);
    box-shadow: none;
    margin: 5px;
    padding: 5px;
  }

  button:hover {
    background-color: var(--primary);
    opacity: 1;
  }
}
