.categories {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;

  button {
    background-color: var(--main);
    box-shadow: none;
    font-size: 1rem;
    margin: 5px;
    max-width: 80%;
    padding: 5px;
    width: 40%;

    span {
      margin: 0;
      max-width: 10ch;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  button:hover {
    opacity: 1;
  }
}

// font-weight: 700;
//       max-width: 15ch;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       white-space: nowrap;
